# https://yazi-rs.github.io/docs/configuration/keymap/
# https://github.com/sxyazi/yazi/blob/shipped/yazi-config/preset/keymap-default.toml

[mgr]
prepend_keymap = [
  # swap fzf & zoxide keymap
  { on = "z", run = "plugin zoxide", desc = "Jump to a directory via zoxide" },
  { on = "Z", run = "plugin fzf", desc = "Jump to a file/directory via fzf" },

  # disable wraparound
  { on = "k", run = "arrow -1", desc = "Previous file" },
  { on = "j", run = "arrow 1", desc = "Next file" },
  { on = "<Space>", run = [
    "toggle",
    "arrow 1",
  ], desc = "Toggle the current selection state" },

  # toggle & visual mode
  { on = "v", run = "visual_mode", desc = "Enter visual mode (selection mode)" },
  { on = "V", run = "toggle_all", desc = "Invert selection of all files" },

  # copy file
  { on = "y", run = [
    '''shell -- printf "file://%s\n" "$@" | xclip -selection clipboard -t text/uri-list''',
    "yank",
  ] },

  # quit
  { on = "q", run = "close", desc = "Close the current tab, or quit if it's last" },
  { on = "Q", run = "quit", desc = "Quit the process" },

  # spotting
  { on = "i", run = "spot", desc = "Spot hovered file" },

  # tabs
  { on = "<tab>", run = "tab_create --current", desc = "Create a new tab with CWD" },

  # [boydaihungst/simple-tag.yazi](https://github.com/boydaihungst/simple-tag.yazi)
  { on = [
    "t",
    "a",
  ], run = "plugin simple-tag -- toggle-tag", desc = "Toggle a tag (press any key)" },
  { on = [
    "t",
    "t",
  ], run = "plugin simple-tag -- toggle-tag --key=*", desc = "Toggle tag with fixed tag key = *" },
  { on = [
    "t",
    "e",
  ], run = "plugin simple-tag -- edit-tag ", desc = "Edit tag(s) (input box)" },
  { on = [
    "t",
    "c",
  ], run = "plugin simple-tag -- clear", desc = "Clear all tags from selected or hovered files" },
  { on = [
    "t",
    "f",
  ], run = "plugin simple-tag -- filter", desc = "Filter files/folders by a tag (press any key)" },
  { on = [
    "t",
    "s",
    "r",
  ], run = "plugin simple-tag -- replace-select", desc = "replace-select" },
  { on = [
    "t",
    "s",
    "u",
  ], run = "plugin simple-tag -- unite-select", desc = "unite-select" },
  { on = [
    "t",
    "s",
    "i",
  ], run = "plugin simple-tag -- intersect-select", desc = "intersect-select" },
  { on = [
    "t",
    "s",
    "s",
  ], run = "plugin simple-tag -- subtract-select", desc = "subtract-select" },
  { on = [
    "t",
    "s",
    "e",
  ], run = "plugin simple-tag -- exclude-select", desc = "exclude-select" },

  # disable keymaps
  { on = [
    "g",
    "d",
  ], run = "noop" },
  { on = "<S-PageUp>", run = "noop" },
  { on = "<S-PageDown>", run = "noop" },
  { on = "<PageUp>", run = "noop" },
  { on = "<PageDown>", run = "noop" },
  { on = "<C-a>", run = "noop" },
  { on = "<C-r>", run = "noop" },
]
