# https://yazi-rs.github.io/docs/configuration/yazi
# https://github.com/sxyazi/yazi/blob/shipped/yazi-config/preset/yazi-default.toml

[mgr]
ratio = [1, 2, 3]
sort_by = "natural"

[preview]
cache_dir = "~/.cache/yazi/"
image_filter = "nearest"
image_quality = 50

[opener]
text = [
  { run = '${EDITOR:-vi} "$@"', desc = "$EDITOR", block = true, for = "unix" },
]
image = [
  { run = 'nsxiv_rifle.sh "$@"', desc = "nsxiv", orphan = true, for = "unix" },
]
video = [
  { run = 'mpv "$@"', desc = "mpv", orphan = true, for = "unix" },
  { run = 'mpv --loop-file "$@"', desc = "mpv (loop)", orphan = true, for = "unix" },
]
pdf = [{ run = 'zathura "$@"', desc = "zathura", orphan = true, for = "unix" }]
office = [
  { run = 'libreoffice "$@"', desc = "libreoffice", orphan = true, for = "unix" },
]
extract = [
  { run = 'ya pub extract --list "$@"', desc = "extract", for = "unix" },
]
html = [
  { run = '${BROWSER:-firefox} "$@"', desc = "$BROWSER", block = true, for = "unix" },
]

[open]
rules = [
  { mime = "{text/*,inode/empty,application/json,application/javascript}", use = [
    "text",
  ] },
  { mime = "image/*", use = [
    "image",
  ] },
  { mime = "{audio,video}/*", use = [
    "video",
  ] },
  { mime = "application/pdf", use = [
    "pdf",
  ] },
  { mime = "application/{oasis.opendocument,openxmlformats-officedocument}.*", use = [
    "office",
  ] },
  { mime = "application/{zip,rar,7z*,tar,gzip,xz}", use = [
    "extract",
  ] },
  { mime = "text/html", use = [
    "html",
  ] },
]

[plugin]
prepend_fetchers = [
  { id = "mime", name = "*.{mp3,mp4,png,jpg,jpeg,webp,part*}", run = "mime-ext", prio = "high" },
  { id = "simple-tag", name = "*", run = "simple-tag" },
  { id = "simple-tag", name = "*/", run = "simple-tag" },
]
